
{% block content %}
<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redefinição de Palavra-chave Concluída</title>
  <style>
      body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #e0f7fa 0%, #ffffff 100%);
    text-align: center;
}
    </style>
    .container {
      max-width: 400px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    .container h2 {
      margin-bottom: 10px;
      color: #333;
    }
    .container p {
      margin-bottom: 20px;
      color: #666;
    }
    .container a {
      color: #fff;
      background-color: #ff9999; /* Cor do botão */
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }
    .container a:hover {
      background-color: #e57373; /* Cor do botão no hover */
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Redefinição de Palavra-chave Concluída</h2>
    <p>A sua palavra-chave foi redefinida com sucesso. Agora pode fazer login com sua nova palavra-chave.</p>
    <a href="{% url 'autenticacao:login' %}">Fazer Login</a>
  </div>
</body>
</html>
{% endblock %}
