<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J.M.Carmona - Materiais de Construção, Unipessoal Lda</title>
    <style>
        body {
            background: lightgoldenrodyellow;
            color: black;
        }
    </style>
</head>
<body>
    <header>
        <h1>Introdução da Empresa</h1>
    </header>
    <nav>
            <a href="{% url 'Empresa:PaginaDeOrcamento' %}">PáginaDeOrçamento</a>&nbsp;&nbsp;
            <a href="{% url 'Empresa:PaginaDeCompra' %}">PáginaDeCompra</a>
    </nav>
    <main>
        <h2>História e Curiosidades</h2>
        <p>Resumo empresarial da sociedade J. M. Carmona - Materiais De Construção, Unipessoal, Lda. Na conservatória do registo comercial, J. M. Carmona - Materiais De Construção, Unipessoal, Lda está inscrita como UNIP. O desempenho da sua atividade empresarial é de 8 anos. A atividade principal está enquadrada na atividade CINI pertencente a Comércio a retalho de material de bricolage, equipamento sanitário, ladrilhos e materiais similares, em estabelecimentos especializados.</p>
        <h2>Endereços e Contactos</h2>
        <ul>
            <li><strong>Morada:</strong> Rua do Seixinho XX, 2560-XX, Ponte do Rol Torres Vedras, Lisboa.</li>
            <li><strong>Freguesia:</strong> Ponte do Rol, Torres Vedras.</li>
            <li><strong>Concelho:</strong> Lisboa.</li>
            <li><strong>Telefone:</strong> 261XXXXXX.</li>
        </ul>
        <h2>Informações da Empresa</h2>
        <ul>
            <li><strong>NIF:</strong> 514XXXXXX.</li>
            <li><strong>Forma jurídica:</strong> UNIP.</li>
            <li><strong>Atividade:</strong> Comércio a retalho de material de bricolage, equipamento sanitário, ladrilhos e materiais similares, em estabelecimentos especializados.</li>
        </ul><br>
        <p>Desfruta e descobre mais sobre o nosso site!</p><br>
    </main>

    <footer>
        <p>&copy; 2024 - J.M.Carmona - Materiais de Construção, Unipessoal Lda - Todos os direitos reservados.</p>
    </footer>

</body>
</html>